<ng-container *ngIf="_sfcontrol">
    <mat-form-field class="w-100 mt-2">
      <textarea 
        matInput 
        (blur)="_blurAction.emit(_sfcontrol.value)" 
        (keydown.enter)="_enterKey.emit(_sfcontrol.value)" 
        [placeholder]="(_sfcontrol.required?'*':'')+_sfcontrol.label"
        [formControl]="_sfcontrol">
      </textarea>
      <mat-hint *ngIf="_sfcontrol.tooltip">{{_sfcontrol.tooltip}}</mat-hint>
      <mat-error *ngIf="_sfcontrol.errors">
          {{_sfcontrol.errors|errorMessage}}
      </mat-error>
    </mat-form-field>
  </ng-container>