.login-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .central-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}