<div class="login-container d-flex-center">
  <mat-card class="central-card d-flex-center">
    <ng-container [formGroup]="form">
     
      <button (click)="doLogin()" mat-raised-button class="primary">Click me!</button>
    </ng-container>
  </mat-card>
</div>