<mat-form-field class="w-100" *ngIf="sfcontrol">
    <mat-select 
    [value]="sfcontrol.value" 
    (valueChange)="selectItem($event)" 
    placeholder="{{sfcontrol.required?'*':''}} {{sfcontrol.label}}">
    <mat-option *ngFor="let item of sfcontrol.data[0]|smartAsync|async" 
        [value]="item[sfcontrol.data[1]]">
        {{item[sfcontrol.data[2]]}}
    </mat-option>
    </mat-select>
    <mat-error *ngIf="sfcontrol.errors">
        {{sfcontrol.errors|errorMessage}}
    </mat-error>
</mat-form-field>