<mat-accordion class="accordeon-container">
  <mat-expansion-panel
    *ngFor="let user of dataSource"
    hideToggle
  >
    <mat-expansion-panel-header>
      <mat-icon>account_circle</mat-icon>
      <mat-panel-title>
        {{ user.names + " " + user.lastNames }}
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-panel-description>
      {{user.cellPhone}}
    </mat-panel-description>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
