.user-form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .form-control {
        width: 60%;
    }
}

.table-container{
    width: 80%;
    margin: 2rem auto;
}