<div class="app-container">
    <mat-card>
        <mat-card-title>Creación de usuarios!</mat-card-title>
        <mat-card-content>
            <automatic-forms [form]="form" (submit)="submit()"></automatic-forms>
        </mat-card-content>
    </mat-card>
</div>