<div class="app-container">
  <mat-card class="mat-elevation-z8 ">
    <mat-card-title>Administración de alimentos!</mat-card-title>
    <mat-card-content>
      <automatic-forms [form]="form" (submit)="submit()"></automatic-forms>
    </mat-card-content>
  </mat-card>
</div>

<div class="app-container">
  <list-table [data]="foods$|async" [structure]="formFields"></list-table>
</div>