.entry-container {
    margin: 20px auto;
    width: 50%;

    .entry-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}