<mat-card class="entry-container">
  <mat-card-title>Empieza con nosotros!</mat-card-title>
  <mat-card-content class="entry-form">
    <ng-container [formGroup]="form">
      <control-input [sfcontrol]="form.get('names')"></control-input>
      <control-input [sfcontrol]="form.get('lastNames')"></control-input>
      <control-input [sfcontrol]="form.get('email')"></control-input>
      <control-input [sfcontrol]="form.get('cellPhone')"></control-input>
      <control-checkbox [sfcontrol]="form.get('accept')"></control-checkbox>
      <button class="d-block mt-1 w-100" color="primary" [disabled]="!form.valid" (click)="createUser()" mat-raised-button>
        Ingreso
      </button>
    </ng-container>
  </mat-card-content>
</mat-card>