<automatic-forms [form]="formArray.form" (submit)="submit()"></automatic-forms>

<div 
  *ngFor="let form of formArray.controls;let i=index" 
  class="automatic-form-container">
  <div class="form">
    <automatic-forms 
      [form]="form" 
      [enableButtons]="false"
      >
    </automatic-forms>
  </div>
  <button   
    class="btn-style"
    color="primary" 
    (click)="delete(i)"
    color="warn"
    mat-raised-button>
    Delete
  </button>
</div>



