<ng-container *ngIf="_sfcontrol">
    <mat-form-field class="w-100 mt-2">
        <input type="text" 
            [placeholder]="(_sfcontrol.required?'*':'')+_sfcontrol.label"
            aria-label="Number" 
            matInput 
            [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete 
        [displayWith]="configValue"
        (optionSelected)="optionSelected($event)" 
        autoActiveFirstOption 
        #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions" [value]="option">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="_sfcontrol.errors">
            {{_sfcontrol.errors|errorMessage}}
        </mat-error>
    </mat-form-field>
</ng-container>