<div class="control-container">
    <label>{{_sfcontrol.required?'*':''}} Hora {{_sfcontrol.label}}</label>
    <input 
        *ngIf="reloadFlag"
        [readonly]="_readOnly || _sfcontrol.readOnly"
        [(ngModel)]="_value" 
        (blur)="dateChange()"
        type="time" 
        class="form-control"
    >
</div>