<div class="form-container" *ngIf="form">
  <ng-container *ngFor="let item of form.controls | keys:false | orderArray:{order:'asc'}" [ngSwitch]="item.type">
    <control-input *ngSwitchCase="controlTypes.text" [sfcontrol]="item"></control-input>
    <control-select *ngSwitchCase="controlTypes.dropdown" [sfcontrol]="item"></control-select>
    <control-checkbox *ngSwitchCase="controlTypes.boolean" [sfcontrol]="item"></control-checkbox>
    <control-autocomplete *ngSwitchCase="controlTypes.autocomplete" [sfcontrol]="item"></control-autocomplete>
    <control-datepicker *ngSwitchCase="controlTypes.date" [sfcontrol]="item"></control-datepicker>
    <control-text-area *ngSwitchCase="controlTypes.longText" [sfcontrol]="item"></control-text-area>
  </ng-container>
</div>
<div *ngIf="enableButtons" class="button-container mt-3 w-100">
  <button 
    class="btn-style"
    color="primary" 
    [disabled]="!form.valid" 
    (click)="submitAction()"
    mat-raised-button>
    {{successText}}
  </button>
  <button   
  class="btn-style"
  color="primary" 
  (click)="cancelAction()"
  color="warn"
  mat-raised-button>
  {{cancelText}}
  </button>
</div>