@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$white:#ffffff;
$blue:blue;
$gray-light: #cccccc;

.primary{
    background-color: $blue;
    color:$white;
}

body{
    margin: 0;
    background-color: #f2f2f2
}


.w{
    &-100{
        width: 100% !important;
    }
    &-90{
        width: 90% !important;
    }
    &-80{
        width: 80% !important;
    }
    &-70{
        width: 70% !important;
    }
    &-50{
        width: 50% !important;
    }
}
.mt{
    &-1{
        margin-top: 1rem !important;
    }
    &-2{
        margin-top: 2rem !important;
    }
    &-3{
        margin-top: 3rem !important;
    }
    &-4{
        margin-top: 4rem !important;
    }
    &-5{
        margin-top: 5rem !important;
    }
}

.d{
    &-block{
        display: block !important;
    }
    &-none{
        display: none !important;
    }
    &-flex{
        display: flex !important;
    }
}

.z-elevation{
    &-1{
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
}

.form-container{
    display: grid;
    grid-template-columns:repeat( auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
}

.app-container{
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    max-width: 40rem;
    margin: 2rem auto;
}

.btn{
    max-width: 15rem;
}