<div class="sidenav-container">
    <nav class="navBar z-elevation-1">
        <div class="navbar-internal">
            <div class="app-logo">
                <button (click)="openDrawer();$event.stopPropagation()" mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
                <button [routerLink]="['']" mat-icon-button>
                    <mat-icon>whatshot</mat-icon>
                </button>
            </div>
            <div class="options-container">
                <button (click)="optionClick.emit(item)" mat-icon-button *ngFor="let item of navBarOptions">
                    <mat-icon>{{item.icon}}</mat-icon>
                </button>
            </div>
        </div>
    </nav>
    <mat-drawer-container class="drawer-container">
        <mat-drawer 
            (click)="$event.stopPropagation()" 
            class="drawer" 
            #drawer 
            [mode]="drawerType" 
            autosize>
            <mat-tree 
                [dataSource]="dataSource" 
                [treeControl]="treeControl" 
                class="mat-tree-container">
                <mat-tree-node 
                    *matTreeNodeDef="let node" 
                    class="mat-tree-node"
                    matTreeNodeToggle>
                    <li>
                        <button 
                            class="item-btn"
                            mat-flat-button 
                            (click)="optionClick.emit(node)">
                            <mat-icon>{{node.icon}}</mat-icon>
                            {{node.name}}
                        </button>
                    </li>
                </mat-tree-node>
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <li>
                        <div class="mat-tree-node">
                            <button 
                                mat-flat-button
                                matTreeNodeToggle
                                class="item-btn"
                                [attr.aria-label]="'toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                                <mat-icon>{{node.icon}}</mat-icon>
                                {{node.name}}
                            </button>
                        </div>
                        <ul [class.mat-tree-invisible]="!treeControl.isExpanded(node)">
                            <ng-container matTreeNodeOutlet>
                            </ng-container>
                        </ul>
                    </li>
                </mat-nested-tree-node>
            </mat-tree>
        </mat-drawer>
        <mat-drawer-content>
            <ng-content>
            </ng-content>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<!-- <return-button (click)="returnTop()" [show]="true"></return-button> -->