@import "../../../styles.scss";

.sidenav-container {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    .navBar{
        width: 100%;
        display: flex;
        justify-content: center;
    
        .navbar-internal{
            max-width: 1000px;
            width: 90%;
            padding: 20px 26px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }
    
        .options-container{
            button{
                margin: 0 6px;
            }
        }
    }
    .drawer-container{
        height: calc(100vh - 80px);
        .drawer{
            background-color: $gray-light;
            min-width: 300px;
            height: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
        }
    }
}


.mat-tree-container{
    background-color: $gray-light;
    ul, li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }

    .mat-tree-invisible {
        display: none;
    }

    .mat-tree-node{
        background-color: transparent;
        .item-btn{
            cursor: pointer;
            background-color: transparent;
        }
    }
}

