<div class="table-container">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 w-100">
    <ng-container 
      [matColumnDef]="item.name"
      *ngFor="let item of structure | arrayFilter:'order':0:false | orderArray:{order:'asc'}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item.label}} </th>
      <td mat-cell *matCellDef="let element">{{element | getCellData:item}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="structure | orderTableColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: structure | orderTableColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>