<div class="app-container">
  <mat-card class="mat-elevation-z8 ">
    <mat-card-title>Peliculas!</mat-card-title>
    <mat-card-content>
      <automatic-forms [form]="form" (submit)="submit()"></automatic-forms>
    </mat-card-content>
  </mat-card>
</div>

<div class="app-container">
  <mat-card class="mat-elevation-z8 ">
    <mat-card-title>forms array!</mat-card-title>
    <mat-card-content>
      <automatic-form-array [formArray]="form.get('awards')"></automatic-form-array>
    </mat-card-content>
  </mat-card>
</div>