<ng-container *ngIf="_sfcontrol">
    <mat-form-field class="w-100 mt-2">
        <input 
            matInput 
            [matDatepicker]="picker" 
            [placeholder]="(_sfcontrol.required?'*':'')+_sfcontrol.label"
            [ngModel]="date"
            (ngModelChange)="change($event)"
            >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker 
            #picker 
            startView="year"
            [startAt]="startDate">
        </mat-datepicker>
        <mat-error *ngIf="_sfcontrol.errors">
            {{_sfcontrol.errors|errorMessage}}
        </mat-error>
    </mat-form-field>
</ng-container>